{% extends 'index.html' %}
{% block title %} Archives | IntelliClass {% endblock title %}
{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block courses %}
{% url 'myCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="container shadow-sm">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
           <ol class="breadcrumb p-3">
              <li class="breadcrumb-item active animate__animated animate__backInRight" aria-current="page">Archives</li>
           </ol>
        </nav>
     </div>

     <ul>
        {% for material in materials %}
            <li>
                <strong>Course Code:</strong> {{ material.course_code }}<br>
                <strong>Description:</strong> {{ material.description }}<br>
                <strong>Posted On:</strong> {{ material.post_date }}<br>
                {% if material.file %}
                    <strong>File:</strong> <a href="{{ material.file.url }}" download>{{ material.file.name }}</a>
                {% else %}
                    <strong>File:</strong> No file uploaded.
                {% endif %}
            </li>
            <hr>
        {% empty %}
            <li>No materials available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}